<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <label>input1: <%= data?.input1 %></label>
    <br>
    <label>input2: <%= data?.input2 %></label>
    <br>
    <label>input3: <%= data?.input3 %></label>
    <br>
    <label>Selected Value: <%= data?.selectedValue %></label>
    <br>
    <label>input4: <%= data?.input4 %></label>
</body>
</html>